.idea
/.idea/**/*
!/.idea/codeStyles/
!/.idea/codeStyles/**/*
*.iml
.gradle
build/
/local.properties
.local/*
*.jks
/fastlane/report.xml
/fastlane/Appfile
/captures
.externalNativeBuild
.cxx
.DS_Store
.kotlin/sessions
.kotlin/errors
worktree-*
/hs_err_*.log
app/src/screenshotTest*/reference/
.codex